mat-toolbar.footer
  mat-toolbar-row
    a(target="_blank" href="https://material.angular.io/") Angular Material
    a(target="_blank" href="https://www.npmjs.com/package/@angular/flex-layout") Flex Layout
    a(target="_blank" href="#") Link
